{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Ajouter un Verre{% endblock %}

{% block body %}
    <h1>Ajouter un Verre</h1>

    <a href="{{ path('app_verre_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('verre/_form.html.twig') }}

{% endblock %}
