{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Modifier une Couleur{% endblock %}

{% block body %}
    <h1>Modifier une Couleur</h1>

    <a href="{{ path('app_couleur_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('couleur/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
