{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier un baguette{% endblock %}

{% block body %}
    <h1>Modifier un baguette</h1>

    <a href="{{ path('app_baguette_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('baguette/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
