{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}

    <h1 class=""><img src="{{ asset('/images/LogoTE.png') }}" alt="logo de l'entreprise" class="img-fluid"></h1>

    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="{{ asset('/images/Boutique.jpg') }}" alt="photo de l'atelier" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ut delectus sequi illo similique ducimus, eveniet nihil labore. Provident voluptas obcaecati voluptate praesentium sapiente corrupti laboriosam deleniti maxime quos fugit!
        Similique, mollitia quidem ullam magni voluptatibus totam illum, a earum reiciendis provident quos, ab saepe at praesentium vero. Sed dolores, in nesciunt magnam itaque quas voluptas aliquam consectetur aut deleniti.
        Earum impedit fugiat magni nobis cum fugit repudiandae quae exercitationem accusantium soluta laudantium enim nesciunt qui ad voluptate sed perspiciatis reiciendis sunt ducimus, quam harum doloremque voluptatem ipsa rerum. Odit!</p>
            </div>
            <div class="col-lg-4">
                <img src="{{ asset('/images/Encacreuse.jpg') }}" alt="photo de l'encadreuse" class="img-fluid">
            </div>
        </div>
    </div>


{% endblock %}
