{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Ajouter un Sujet{% endblock %}

{% block body %}
    <h1>Ajouter un Sujet</h1>

    <a href="{{ path('app_sujet_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('sujet/_form.html.twig') }}

{% endblock %}
